%div.page-header
  %h1 Witaj #{current_user.name}!


%div.page-content

  %div.alert.alert-info
    - if @daily_quiz
      %p
        Dostępny nowy codzieny quiz:
        %strong= @daily_quiz.title
      %p= link_to "Zagraj teraz", new_quiz_game_path(@daily_quiz), class: "btn btn-primary"
    - else
      %p Już wypełniłeś codzienny quiz! Sprawdź jutro!
