- content_for :intro do
  %div.jumbotron
    %div.container
      %h1 Zagrasz w grę?
      %p.lead
        Quizpy.pl to wciągająca gra! Rywalizuj z przyjaciółmi, odpowiadaj na pytania i zdobywaj punkty!
      %p
        = link_to new_user_registration_path, class: "btn btn-primary btn-lg" do
          Dołącz do Quizpy
