- content_for :intro do
  %div.jumbotron
    %div.container
      %h1 Zagrasz w grę?
      %p.lead
        <strong>QuizApp</strong> to wciągająca gra! Odpowiadaj na pytania, zdobywając osiągnięcia i tytuły.<br/>
        Rywalizuj z przyjaciółmi, walcz o punkty i miejsce w rankingu!
      %p
        = link_to new_user_registration_path, class: "btn btn-primary btn-lg" do
          Dołącz do <strong>QuizApp</strong>

%div.info.features
  %div.container
    %div.headline
      %h2 Znajdź swój ulubiony temat
      %p.lead
        W <strong>QuizApp</strong> czeka na ciebie prawie setka wybranych tematów. A w każdym z nich wiele zróżnicowanych pytań. Znajdź swoją ulubioną tematykę!

    %div.row
      %div.col-md-4
        %h3 Codziennie nowy quiz
        %p.lead Każdego dnia czeka na ciebie nowy quiz. Przygotowujemy ciekawy zestaw pytań z różnych dziedzin. Nie będziesz się nudzić.

      %div.col-md-4
        %h3 Fascynujące osiągnięcia
        %p.lead Grając na <strong>QuizApp</strong> czeka na ciebie wiele osiągnięć. Zdobądź tytuły i osiągnięcia i rozwijaj swój profil.

      %div.col-md-4
        %h3 Rywalizuj z przyjaciółmi
        %p.lead Możesz rywalizować o pozycję i punkty w wielu rankingach. Bądź najlepszy w Twoim mieście, lub w aktualnym miesiącu. Zostań mistrzem swojej kategorii wiekowej.