- content_for :intro do
  %div.jumbotron
    %div.container
      %h1 Zagrasz w grę?
      %p.lead
        Pytania to wciągająca gra! Rywalizuj z przyjaciółmi, odpowiadaj na pytania i zdobywaj punkty!