%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title
      Twój wynik:
      %span.game-score 0

  %div.panel-body
    Pytanie
    %span.current-question 0
    \/
    %span.total-questions= @quiz.questions.size

    %div.progress
      %div.progress-bar.questions-progress-bar{role: 'progressbar', style: "width: 0%"}