%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title
      Pozostały czas:
      %span.time-counter


  %div.panel-body
    %div.progress.progress-striped.active.timer-progress
      %div.progress-bar.progress-bar-succes.timer-progress-bar{role: 'progressbar', style: "width: 100%"}