@import "bootstrap";



.page-header{
  position: relative;

  .nav{
    position: absolute;
    right: 0;
    top: 0;
  }
}

.section-header {
  @extend .page-header;
  position: relative;
  margin-top: 0;
}

