%div.page-header
  %h1 Questions

  %ul.nav.nav-pills
    %li
      = link_to new_admin_question_path do
        %span.glyphicon.glyphicon-plus
        Add New Question


%table.table
  %thead
    %tr
      %th.col-sm-1 Id
      %th Title
      %th.col-sm-1
  %tbody
    - @questions.each do |q|
      %tr
        %td= q.id
        %td= link_to q.title, admin_question_path(q)
        %td
          = link_to 'Edit', edit_admin_question_path(q)
