.social-login{
  border-top: 1px solid #eee;
  padding: 20px 0 0px 0;
  margin-top: 20px;
  position: relative;

  .label{
    position: absolute;
    top: -10px;
    left: -10px;
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #999;
    font-weight: normal;
    background: #f4f5f5;
  }

  .btn-facebook{
    background-color: #4c66a4;
    color: #fff;
    border-color: darken(#4c66a4, 10%);
    margin-right: 10px;

    &:hover{
      background-color: darken(#4c66a4, 10%);
    }
  }

  .btn-google{
    background-color: #d14836;
    color: #fff;
    border-color: darken(#d14836, 10%);
    margin-right: 10px;

    &:hover{
      background-color: darken(#d14836, 10%);
    }

  }

}