$brand-primary: #1c5a9f;
$navbar-inverse-color: #e4f1ff;
$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-link-hover-color: #e4f1ff;
$navbar-inverse-bg: #0C0813;

@import "bootstrap";

html,body{
  height: 100%;
}

@import "global";
@import "landing";
@import "social";
@import "profile";


.quiz-question{
  margin: 0 0 20px 0;
}

.row-actions{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #eee;
}

.current-user-avatar{
  text-align: center;
  padding: 5px 0;
}

.user-avatar{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: 3px solid #fff;
  margin: 5px 0;
}

.social-avatar{
  width: 75px;
  height: 75px;
  border: none;
}