%ul.nav.nav-pills.nav-stacked
  %li
    = link_to account_path do
      %span.glyphicon.glyphicon-user
      Twój profil
  %li
    = link_to account_settings_path do
      %span.glyphicon.glyphicon-cog
      Ustawienia
  %li
    = link_to edit_user_registration_path do
      %span.glyphicon.glyphicon-lock
      Edycja konta